@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --primary-0: #7c0edf;
  --primary-20: #8f37e3;
  --primary-40: #a053e8;
  --primary-60: #b06dec;
  --primary-80: #bf85f0;
  --primary-100: #cd9df3;
  --surface-0: #121212;
  --surface-20: #282828;
  --surface-40: #3f3f3f;
  --surface-60: #575757;
  --surface-80: #717171;
  --surface-100: #8b8b8b;
  --mixed-0: #281836;
  --mixed-20: #3d2d4a;
  --mixed-40: #53445e;
  --mixed-60: #695c73;
  --mixed-80: #817589;
  --mixed-100: #998fa0;
}

body {
  color: #000;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
